* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  font-size: 12px;
}
.logo_img {
  border-radius: 50px;
}
.nav_link {
  text-decoration: none;
  margin-right: 13px;
}

.nav {
  list-style: none;
}
.nav nav_link {
  display: inline-block;
  padding: 0px 20px;
}
.nav_link:hover {
  color: #000;
  background-color: #f0f8ff;
  border-radius: 50px;
}

.about {
  text-decoration: none;
  font-size: 14px;
  padding: 6px 20px;
  background-color: #6495ed;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
